:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 50px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  
}

input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  border: 1px solid whitesmoke;
  font-size: 24px;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  cursor: default;
}

.buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 17px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: aliceblue;
  color: black;
  transition: all 0.5s;
  outline: none;
  border: none;
  user-select: none;
}

button:hover {
  background-color: lightgray;
  transform: scale(1.1);

}

button:active {
  transform: scale(1.2);

}